.updateEvent_container {
    border: 3px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    }

    .updateEvent_form{
        border: 3px solid black;
        height: 400px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .event_containerupdateLabel{
        /* border: 3px solid black; */
        height: 35px;
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .event_updateLabel{
        /* border: 2px solid black; */
        height: 25px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        /* width: 290px; */
    }

    .event_updatedInput {
        border: 2px solid black;
        height: 25px;
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .event_updatedTextarea{
        border: 2px solid black;
        height: 25px;
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .eventButtonUpdate{
        font-size:medium;
        margin: 0 auto;
        margin-top: 15px;
        padding:10px;
        border-radius: 30px;
        background-color:lightblue;
        border: 8px solid pink;
        color:rgb(196, 69, 90);
        width: 100px;
        font-weight:lighter;
        display: block;
        text-decoration: none;
    }

    .actual_eventUpdateBtn{
        text-decoration: none;
        border: none;
        background-color: lightblue;
        justify-content: center;
        display: flex;
        margin-left: 20px;
        font: bold;
        background-color: transparent;
    }