.loginButton_form{
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.loginButton_formLabel{
    height: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.loginButton_formInput{
    border: 2px solid black;
    height: 25px;
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.LoginButton_formBtn{
    font-size:medium;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 145px;
    padding:10px;
    border-radius: 30px;
    background-color:lightblue;
    border: 8px solid pink;
    color:rgb(196, 69, 90);
    width: 100px;
    font-weight:lighter;
    display: absolute;
    text-decoration: none;
}

.demoBtn{
    font-size:medium;
    margin: 0 auto;
    margin-top: 15px;
    padding:10px;
    border-radius: 30px;
    background-color:lightblue;
    border: 8px solid pink;
    color:rgb(196, 69, 90);
    width: 100px;
    font-weight:lighter;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    text-decoration: none;
}