

.spl_container{
    background-image: url(gradient-1291455_1280.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: auto; */
}

.middle_div{
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid black; */
    margin-top: 6%;
}

.spl_containerLeft{
    border: 3px solid black;
    /* margin-top: 100px; */
    /* margin-left: 375px; */
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.h3_tag{
    display: flex;
    justify-content: center;
}
.spl_containerLeftImg{

}

.spl_containerRight{
    border: 3px solid black;
    /* margin-top: -500px;
    margin-left: 1325px; */;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.h3_tags{
    display: flex;
    justify-content: center;
}

.spl_containerRightImg{
    /* display: flex;
    align-items: center; */
}

.spl_Footer{
    /* border: 3px solid black; */
    width: 100%;
    height: 15%;
    margin-top: 25px;
    /* margin-left: 150px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.spl_newsFeed{
    /* border: 3px solid black; */
    height: 30%;
    width: 100%;
    /* margin-left: 150px; */
    /* margin-top: 50px; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
}

.newsFeedDiv_Container{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    width: 77%;
}

.bunchOfh3s{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 1%;
}

.spl_newsFeedDiv1{
    border: 3px solid lightcoral;
    height: 250px;
    width: 250px;
    background-image: url('small-baby-blk.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.spl_newsFeedDiv2{
    border: 3px solid navy;
    height: 250px;
    width: 250px;
    background-image: url('toddler-boy-yellow-shirt-300px.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.spl_newsFeedDiv3{
    border: 3px solid lightcoral;
    height: 250px;
    width: 250px;
    background-image: url('toddler-girl-pig-tails-300px.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.spl_newsFeedDiv{
    border: 3px solid black;
    height: 250px;
    width: 250px;
}
/* .spl_About{
    border: 3px solid black;
    display: table-column;
    justify-content: center;
} */

.canva{
    /* border: 3px solid black; */
    height: 500px;
    width: 500px;
    /* position: absolute; */
    top: 9%;
    right: 39%;
    background-image: url('Baby Sitting Needs (1).png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
