

.spl_container{
    /* margin: 0; */
    background-image: url('gradient-1291455_1280.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#splashBanner{
    display: flex;
    justify-content: space-around;
}



.h3_tag{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
}

#toggleAuthBttn{
    font-size:medium;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 145px;
    padding:10px;
    border-radius: 30px;
    background-color:grey;
    border: 8px solid white;
    color:black;
    width: 100px;
    font-weight:lighter;
    display: absolute;
    text-decoration: none;

}








.newsFeedDiv_Container{
    display: flex;
    justify-content: space-between;
    width: 77%;
}


.spl_newsFeedDiv1{
    border: 3px solid lightcoral;
    height: 250px;
    width: 250px;
    background-image: url('small-baby-blk.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.spl_newsFeedDiv2{
    border: 3px solid navy;
    height: 250px;
    width: 250px;
    background-image: url('toddler-boy-yellow-shirt-300px.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.spl_newsFeedDiv3{
    border: 3px solid lightcoral;
    height: 250px;
    width: 250px;
    background-image: url('toddler-girl-pig-tails-300px.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
}



.canva{
    width: 45vw;
    background-image: url('Baby Sitting Needs (1).png');
    background-repeat: no-repeat;
}

.spl_Footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
