.event_createFormBackground{
    background-image: url('pastel-734432_1280.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: .5px solid transparent;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.createEvent_header{
    display: flex;
    justify-content: space-around;
}

.newEventFormContainer {
    border: 3px solid lightcoral;
    height: 40%;
    width: 20%;
    /* display: flex; */
    flex-direction: column;
    border-radius: 2%;
    display: flex;
    position: absolute;
    justify-content: center;
    right: 40%;
    top: 10%;
}

.event_formFields{
    /* border: 2px solid black; */
    height: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    /* width: 290px; */
}

.event_formInput {
    border: 2px solid black;
    height: 25px;
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.event_forInputTextArea{
    border: 2px solid black;
    height: 12%;
    width: 75%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    resize: none;
    overflow-y: scroll;
}

.submitEvent_Button{
    font-size:medium;
    margin: 0 auto;
    margin-top: 15px;
    padding:10px;
    border-radius: 30px;
    background-color:lightblue;
    border: 8px solid pink;
    color:rgb(196, 69, 90);
    width: 100px;
    font-weight:lighter;
    display: block;
}

.eventList_HomeBtn{
    font-size:medium;
    margin-top: 15px;
    padding:10px;
    border-radius: 30px;
    background-color:pink;
    border: 8px solid lightblue;
    color:rgb(18, 40,87);
    width: 75px;
    /* position: absolute; */
    font-weight:lighter;
    text-decoration: none;
    display: flex;
    justify-content: center;
    top: 0%;
    right: 92%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
